<div class="image-container">
  <img [src]="'./assets/images/front-end.jpg'" alt="front-end" class="lightning-border" />

  <img [src]="'./assets/images/back-end.jpg'" alt="back-end" />
  <div class="centered-content">
    <div class="text-center">
      <h1 class="front-end">Front-end</h1>
      <p class="mt-2"> HTML5, CSS3, SCSS, JavaScript (ES6), TypeScript, jQuery, bootstrap, primeNG, kendo UI, NPM</p>
      <img [src]="'./assets/images/angular.svg'" class="language-icon" alt="angular" />
      <p>Angular CLI, Angular Router, Angular Forms, RxJS, NgRx, standalone components, </p>
    </div>
    <div class="text-center mt-5">
      <h1 class="back-end">Back-end</h1>
      <p> Swagger, WEB API, REST API, MVC, background service,  SOLID principles, design patterns, clean code </p>
      <img [src]="'./assets/images/c-sharp.svg'" class="language-icon" alt="c#" />
      <p>.NET Framework and .NET Core, Entity Framework, LINQ, NuGet, WPF, Razor pages, WEB API, Unit test, SignalR
      </p>
      <img [src]="'./assets/images/database.svg'" class="language-icon" alt="database" />
      <p style="margin-bottom: 10px;">MSSQL, PostgreSQL, SQLite</p>
    </div>
  </div>
</div>
