

p {
  margin: 0;
}

.front-end {
  color: red;
}

.back-end {
  color: rebeccapurple;
}

.language-icon{
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.image-container {
  height: 90vh;
  position: relative;
}

img {
  width: 100%;
  height: 50%;
}

img:first-child {
  border-bottom: 3px solid #2ab367;
}

.centered-content {
  background-color: rgb(54, 50, 50);
  padding: 3px;
  border-radius: 6%;
  position: absolute;
  font-weight: bold;
  width: 50%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  rgb(54, 50, 50, 0.8);

}

.white-neon-text{
  text-shadow:
  0 0 0px #b8bdb8,
  0 0 1px #b8bdb8,
  0 0 2px #b8bdb8,
  0 0 1px #c3d4cb,
  0 0 3px #c3d4cb,
  0 0 4px #c3d4cb,
  0 0 2px #c3d4cb,
  0 0 2px #c3d4cb;
}

@media (max-width: 767px) {
  .centered-content {
    width: 300px;
    border-radius: 3rem;
    position: absolute;
    font-weight: bold;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
  }
}

