.me-img {
  width: 320px;
  border-radius: 2rem;
  border: 2px solid white;
}

.experience{
  font-style: italic;
  font-size: 17px;
  margin-bottom: 30px;
}

.name {
  text-shadow:
  0 0 0px #28ee39,
  0 0 1px #28ee39,
  0 0 2px #28ee39,
  0 0 6px #2ab367,
  0 0 4px #2ab367,
  0 0 10px #2ab367,
  0 0 2px #2ab367,
  0 0 12px #2ab367;
}



.data-link:hover {
  text-shadow:
  0 0 0px #28ee39,
  0 0 1px #28ee39,
  0 0 2px #28ee39,
  0 0 6px #2ab367,
  0 0 4px #2ab367,
  0 0 10px #2ab367,
  0 0 2px #2ab367,
  0 0 12px #2ab367;
}
