<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <img [src]="'./assets/images/me.jpg'" class="me-img mx-auto mb-5" />
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h2>{{ 'AboutModule.Welcome' | translate }},</h2>
      <h2>{{ 'AboutModule.CallMeMarci' | translate }}</h2>
      <p class="experience" >{{ 'AboutModule.Experiences' | translate }}</p>
      <p>{{ 'AboutModule.Description' | translate }}</p>

    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-12 d-flex justify-content-center text-center">
      <button routerLink="/contact" class="btn btn-success glow-on-hover">{{ 'ContactMe' | translate }}</button>
      <button routerLink="/cv" class="btn btn-success mx-4 glow-on-hover">{{ 'CVDownload' | translate }}</button>
    </div>
  </div>
</div>
