<nav class="navbar navbar-expand-lg  nav-header">
  <div class="container-fluid">
    <a class="navbar-brand home-icon" routerLink="/home" routerLinkActive="active"><i class="fa fa-home fa-lg"></i></a>
    <button class="navbar-toggler toggle-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">{{'About' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skill" routerLinkActive="active">{{'Skills' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/experience" routerLinkActive="active">{{'Education-Works' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reference" routerLinkActive="active">{{'References' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">{{'ContactMe' | translate }}</a>
        </li>
      </ul>
      <div class="d-flex">
       <!--  Language switch -->
       <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
            <img [src]="'./assets/images/languages/' + selectedLanguage.code + '.png'" style="width: 20px"/>
            <span class="mx-2">{{ selectedLanguage.name | translate }}</span>
          </div>
      </ng-template>
        <ng-template let-language pTemplate="item">
            <div class="flex align-items-start text-start" (click)="switchLang(language.code)">
                <img [src]="'./assets/images/languages/' + language.code + '.png'" style="width: 20px" />
                <span class="mx-2">{{ language.name | translate }}</span>
            </div>
        </ng-template>
    </p-dropdown>
      </div>
    </div>
  </div>
</nav>
