::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(19, 189, 76);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(15, 155, 62);
}
