.work-card{
  width: 100%;
  border: 2px solid rgb(19, 189, 76);
}
.work-card:hover{
  width: 100%;
  border: 2px solid rgb(19, 189, 76);
  text-shadow: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
